[submodule "plugins/node-build"]
	path = plugins/node-build
	url = https://github.com/nodenv/node-build.git
[submodule "plugins/node-package-rehash"]
	path = plugins/node-package-rehash
	url = https://github.com/nodenv/nodenv-package-rehash.git
[submodule "plugins/nodenv-default-packages"]
	path = plugins/nodenv-default-packages
	url = git@github.com:nodenv/nodenv-default-packages.git
[submodule "plugins/nodenv-npm-migrate"]
	path = plugins/nodenv-npm-migrate
	url = git@github.com:nodenv/nodenv-npm-migrate.git
[submodule "plugins/nodenv-each"]
	path = plugins/nodenv-each
	url = https://github.com/nodenv/nodenv-each.git
[submodule "plugins/nodenv-nvmrc"]
	path = plugins/nodenv-nvmrc
	url = git@github.com:ouchxp/nodenv-nvmrc.git
